.container{
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        border-bottom: 1px solid rgb(149, 149, 149);
        
        .logo{
            p{
                font-weight: 700;
                font-size: 22px;
            }
        }

        .logout{
            button{
                padding: 8px 14px;
                font-weight: 500;
                font-size: 14px;
                background-color: transparent;
                border: 2px solid black;
                border-radius: 12px;
            }
        }

    }

    .main{
        margin: 20px 40px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 15px;
        .heading{
            p{
                text-align: center;
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

    .emails{
        display: flex;
        flex-direction: column;
        gap: 25px;

        .eHead, .email{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 40px;
            background-color: rgba(166, 161, 161, 0.619);
            color: black;
            border-radius: 12px;

            p{
                font-size: 18px;
            }
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 12px;
            .eFrom{
                font-size: 16px;
            }

            .email{
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }


    }

}

.loader{
    position: absolute;
    padding: 80px 120px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 35%;
    left: 35%;
    backdrop-filter: blur(20px);
    border: 2px solid black;
}

.accept{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0px 20px;

    button{
        padding: 8px 12px;
        font-size: 14px;
        border: 1px solid black;
        background:transparent;
        border-radius: 8px;
    }

}